# Environment
.env
.env.*
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Databases
*.sqlite3
db.sqlite3

# IDEs
.idea/
.vscode/

# Git
.git/
.gitignore

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Django
media/
staticfiles/

# OS
.DS_Store
Thumbs.db