.auth-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    align-items: center;
    position: relative;
}

.auth-button i {
    font-size: 20px;
}

.auth-menu {
    position: absolute;
    bottom: calc(-100% - 30px);
    right: 0;
    width: 120px;
    text-align: center;
    background: #fff;
    transform-origin: top center;
}

.auth-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.auth-menu ul li {
    padding: 10px;
    transition: .2s;
    color: #393838;
}

.auth-menu ul li:hover {
    background: rgba(0, 0, 0, .04);
}
