


@media (min-width: 450px) {
    .products-list{ 
        display: flex;
        flex-wrap: wrap;
    }
    .products-list .product-item{
        width: 50%;
    }
}


@media (min-width: 768px) {
    .products-list .product-item{ width: 33.3333%; }
}

@media (min-width: 992px) {
    .products-list .product-item{ width: 25%; }
}